.rebuy-cart__flyout {
  background-color: #fff;

  .rebuy-cart__flyout-empty-cart {
    p > a:not(.btn) {
      background-color: transparent;
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
    }
  }

  .rebuy-cart__flyout-subtotal-amount {
    font-family: var(--font-body-family);
  }

  .rebuy-button {
    box-shadow: none;
    border: 1px solid var(--primary-color);
    font-family: var(--font-body-family);
    font-weight: 500;

  }
}