footer.footer {
  background-color: var(--primary-color);
  padding: 60px;
  color: #fff;

  a {
    color: #fff;
  }

  .flex-wpr {
    display: flex;
    justify-content: space-between;

    .logo-wpr {
      width: 40%;
      
      img {
        max-width: 250px;
      }
    }

    .menu-wpr {
      width: 60%;
    }
  }
}