footer.footer {
  background-color: var(--primary-color);
  padding: 60px;
  color: #fff;

  a {
    color: #fff;
  }

  .flex-wpr {
    display: flex;
    justify-content: space-between;

    .logo-wpr {
      width: 40%;
      text-align: center;

      img:not(.social-icon) {
        max-width: 250px;
      }

      .footer-text {
        text-align: center;
        margin-top: 30px;

        .block-text {
          font-size: 34px;
          font-weight: 400;
        }

        p:not(.block-text) {
          line-height: 1.5;
        }
      }

      .social-icons-wpr {
        .social-icons {
          display: flex;
          align-items: center;
          gap: 34px;

          .social-icon {
            flex-grow: 1;
          }
        }
      }
    }

    .menu-wpr {
      width: 40%;
      display: flex;
      flex-wrap: wrap;
      
      .footer-main-wpr {
        width: 50%;
        display: block;
      }
    }
  }
}