.header-main {
  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav.header__inline-menu {
      ul.main {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 24px;
        align-items: center;
        list-style: none;

        li.item {
          margin-bottom: 0;

          a {
            position: relative;
            text-transform: uppercase;
            font-size: 16px;
          }
        }
      }
    }
  }
}