.header-main {
  padding: 12px 0;
  background-color: #fff; 

  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav.header__inline-menu {
      width: calc(50% - 65px);
      ul.main {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 24px;
        align-items: center;
        list-style: none;

        li.item {
          margin-bottom: 0;

          a {
            position: relative;
            text-transform: uppercase;
            font-size: 16px;
          }
        }
      }
    }

    .branding {
      width: 130px;
    }

    .right-wpr {
      width: calc(50% - 65px);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      
      .header__icon--cart {
        margin-bottom: 0;

        img {
          max-width: 20px;
        }
      }

      .header__icon--search {
        list-style: none;

        &::marker {
          display: none;
        }

        img {
          max-width: 20px;
        }
      }
    }
  }
}