.header-main {
  padding: 12px 0;
  background-color: #fff; 

  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav.header__inline-menu {
      width: calc(50% - 65px);

      @media (max-width: 1080px) {
        display: none;
      }
      ul.main {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 24px;
        align-items: center;
        list-style: none;

        li.item {
          margin-bottom: 0;

          a {
            position: relative;
            text-transform: uppercase;
            font-size: 16px;

            &:after {
              content: "";
              display: block;
              height: 1px;
              width: 100%;
              background-color: var(--primary-color);
              position: absolute;
              bottom: -3px;
              left: 0;
              transform: scaleX(0);
              transform-origin: left;
              transition: .3s ease;
            }

            &:hover {
              &:after {
                transform: scaleX(1);
              }
            }

            @media (max-width: 1200px) {
              font-size: 14px;
            }
          }
        }
      }
    }

    .mobile-toggle-wpr {
      width: calc(50% - 65px);
      display: none;
      
      @media (max-width: 1080px) {
        display: block;
      }
    }

    .mobile-toggle {
      width: 20px;
      height: 20px;

      .icon-hamburger {
        display: block;
        position: absolute;
        opacity: 1;
        stroke-width: .15rem;
        transform: scale(1);
        height: 20px;
        width: 20px;
      }

      .icon-close {
        display: block;
        position: absolute;
        opacity: 1;
        stroke-width: .15rem;
        transform: scale(1);
        height: 20px;
        width: 20px;
        visibility: hidden;
        opacity: 0;
        transform: scale(.8);
      }

      &.active {
        .icon-hamburger {
          visibility: hidden;
          opacity: 0;
          transform: scale(.8);
        }
        .icon-close {
          opacity: 1;
          visibility: visible;
          transform: scale(1.2) rotate(180deg);
          transition: transform .15s ease, opacity .15s ease;
        }
      }
    }

    .branding {
      width: 130px;
    }

    .right-wpr {
      width: calc(50% - 65px);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      
      .header__icon--cart {
        margin-bottom: 0;

        img {
          max-width: 20px;
        }
      }

      .header__icon--search {
        list-style: none;

        &::marker {
          display: none;
        }

        img {
          max-width: 25px;
        }
      }
    }
  }
}