<div class="announcement-bar">
  <div class="container-fluid lg">
  </div>
</div>

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "class": "section-announcement-bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show-announcement-bar",
      "label": "Show Announcement Bar"
    }
  ]
}
{% endschema %}