{% if section.settings.hide-announcement-bar == false %}
  <div class="announcement-bar">
    <div class="container-fluid lg">
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Announcement Bar",
  "class": "section-announcement-bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "hide-announcement-bar",
      "label": "Hide Announcement Bar"
    }
  ]
}
{% endschema %}