{% if section.settings.hide-announcement-bar == false %}
  <div class="section announcement-bar" section_color="{{ section.settings.section-color }}">
    <div class="container-fluid lg">
      <div class="slider-wpr">
        <div class="swiper">
          {%- for block in section.blocks -%} 
            {%- if block.type == 'slides' -%}
              {% assign text = block.settings.slide %}

              {% if text != blank %}
                <div class="swiper-item">
                  <p class="text block-text {{ section.settings.text_color }}">{{ text }}</p>
                </div>
              {% endif %}
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% schema %}
{
  "name": "Announcement Bar",
  "class": "section-announcement-bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "hide-announcement-bar",
      "label": "Hide Announcement Bar"
    },
    {
      "type": "radio",
      "id": "section-color",
      "label": "Section Color",
      "options": [
        {
          "value": "Primary color",
          "label": "Primary color"
        },
        {
          "value": "Primary color 2",
          "label": "Primary color 2"
        },
        {
          "value": "Floral White",
          "label": "Floral White"
        },
        {
          "value": "Paper Lamb",
          "label": "Paper Lamb"
        },
        {
          "value": "Secondary",
          "label": "Secondary" 
        }
      ],
      "default": "Primary color"
    },
    {
      "type": "radio",
      "id": "text_color",
      "label": "Text Color",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "default",
          "label": "Default"
        }
      ],
      "default": "white"
    }
  ],
  "blocks": [
    {
      "type": "slides",
      "name": "Slides",
      "settings": [
        {
          "type": "text",
          "id": "slide",
          "label": "Slide",
          "default": "Announcement Slide"
        }
      ]
    }
  ]
}
{% endschema %}