<h1 class="display">H1 text Display</h1>
    <h1>H1 text</h1>
    <h2>H2 text</h2>
    <h3>H3 text</h3>
    <h4>H4 text</h4>
    <h5>H5 text</h5>
    <h6>H6 text</h6>
    <p class="subheading lg">Subheading 1</p>
    <p class="subheading">Subheading 2</p>

    <p class="lg">Paragraph large</p>
    <p>Paragraph</p>
    <p class="sm">Paragraph small</p>

    <p class="block-text">Block text</p>

    <a href="">A tag</a>

    <a class="btn" href="">Primary Btn</a>
    <a class="btn-secondary" href="">Secondary Btn</a>
    <a class="btn-arrow" href="">Learn More →</a>

    <div class="section" section_color="Floral White" section_size="Small">
      <div class="container-fluid lg">
        <div class="text-wpr">
          <h2>Heading Text</h2>
          <p class="block-text">Paragraph text</p>
          <p>Paragraph text</p>
          <a class="btn">Button</a>
          <a class="btn-secondary">Button</a>
        </div>
      </div>
    </div> 
    <div class="section" section_color="Primary color" section_size="Normal">
      <div class="container-fluid lg">
        <div class="text-wpr">
          <h2>Heading Text</h2>
          <p>Paragraph text</p>
          <p class="block-text">Paragraph text</p>
          <p>Paragraph text</p>
          <a class="btn">Button</a>
          <a class="btn-secondary">Button</a>
        </div>
      </div>
    </div> 
    <div class="section" section_color="Primary color" section_size="Normal">
      <div class="container-fluid lg">
        <div class="text-wpr">
          <h2>Heading Text</h2>
          <p>Paragraph text</p>
          <p class="block-text">Paragraph text</p>
          <p>Paragraph text</p>
          <a class="btn">Button</a>
          <a class="btn-secondary">Button</a>
        </div>
      </div>
    </div>